.container_header {
    display: flex;
    align-items: center;
    .site-branding {
        flex-grow: 1;
    }
}


/* Menu nav */
@media( min-width: 992px ) {
    .primary-menu {
        padding-left: 0;
        margin: 0;
        > li {
            display: inline-flex;
            line-height: 1;
            > a {
                padding: 0 20px;
                line-height: 100px;
                text-transform: uppercase;
            }
            ul {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 110%;
                left: 0;
                margin-left: 0;
                background: #fff;
                min-width: 180px;
                text-align: left;
                z-index: 5;
                transform: scaleY( 0 );
                ul {
                    top: 20%;
                    transition-duration: 0.3s;
                }
                li.menu-item-has-children {
                    &:after {
                        content: "\f105";
                        font-family: 'FontAwesome';
                        font-size: 12px !important;
                        top: 50%;
                        transform: translateY( -50% );
                        line-height: 1 !important;
                        position: absolute;
                        right: 10px;
                    }
                }
                a {
                    display: block;
                    padding: 10px 20px;
                    text-transform: uppercase;
                    &:hover {
                        background: rgba(239, 239, 239, 0.28)
                    }
                }
            }
        }
        li {
            position: relative;
            &:hover {
                > ul {
                    pointer-events: auto;
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                    transform: translateX( 0px );
                }
            }
        }
        .sub-menu {
            pointer-events: none;
            @media ( min-width: 992px ) {
                box-shadow: 0 2px 8px 0 rgba(125, 122, 122, 0.2);
                border-radius: 4px;
            }
            transition-duration: 0.2s;
            transform: translateY( 10px );
            > li {
                > ul {
                    transform: translateX( 0px );
                    top: 0;
                    left: 100%;
                }
            }
        }
    }

    #pull {
        display: none;
    }
}



@media( max-width: 1024px ) {
    .container_header {
        .site-branding{
            flex-grow: 0;
            margin-right: 40px;            
        }
        button {
            display: flex;
            justify-content: center;
        }
    }
}




/*---------------------------Menu mobile Responsive 991px-----------------------------------------------*/
@media (max-width: 991px) {
    .menu {
        position: absolute;
        width: 40%;
        right: 0;
        margin-left: 0;
        background-color: #fff;
        text-align: left;
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }

    .menu a {
        text-align: left;
        display: block;
        padding: 10px 30px;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    .menu li {
        display: block;
    }

    .menu li:before {
        content: none;
    }

    li.menu-item-has-children {
        &:after {
            content: "\f107";
            font-family: 'FontAwesome';
            font-size: 12px !important;
            top: 40%;
            transform: translateX( -50% );
            line-height: 1 !important;
            position: absolute;
            width: 20px;
            height: 20px;
            right: 10px;
        }
    }
}

@media only screen and (max-width : 768px) {
    .sub-menu,
    .sub-menu .show {
        display: none;
    }
    nav {
        border-bottom: 0;
    }
    .container_header {
        margin: 20px 0;
    }
    #pull {
        position: absolute;
        content: " ";
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        right: 0;
        z-index: 5;
    }
}

@media( max-width: 425px ) {
    .menu {
        width: 100%;
        margin-top: 20px;
    }
}