.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-recent-post-thumbnail {
    .recent-post-thumbnail-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 20px;
        .recent-post-img {
            max-width: 70px;
            width: 50%;
            img {
                border-radius: 5px;
            }
        }
        .recent-post-content {
            padding-left: 10px;
        }
    }
}
