$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #e7b740;
$color__background-button: #e7b740;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #404040;
$color__text-input: #727272;
$color__text-input-focus: #111;
$color__link: #404040;
$color__link-visited: #404040;
$color__link-hover: #b50d0d;
$color__text-main: #727272;

$color__border-button: #ebebeb;
$color__border-button-hover: #ebebeb;
$color__border-button-focus: #aaa;
$color__border-input: #f6f6f6;
$color__border-abbr: #666;
